@media (min-width: 275px) and (max-width: 476px) {


	li a {
		text-decoration: none;
		padding: 8px;
		color: hsl(0, 0%, 100%);
	}

	main {

	}

	.jumbotron {
		padding: 0 20px;
		text-align: center;
		margin: 0 auto;
	}

	.image-intro-box img {
		width: 75vw;
		height: auto;
	}

	.jumbotron-info {
		padding: 10px;
		margin: 0 auto;
	}

	.jumbotron-info-title {
		font-size: 20px;
		padding: 0;
		margin-bottom: 10px;
	}

	.jumbotron-info-description {
		padding: 0;
	}

	.section-features {
    	
    	margin-top: 20vh;
	}

	.features-items {
		display: block;
		margin: 0 auto;
	}

	.features-items-list {
		width: 100%;
		line-height: 1.7;
		margin-bottom: 60px;
	}

	.benefits-list {
		display: block;
		padding: 0;
	}

	.benefits-list--info {
		margin-top: 5vh;
		text-align: center;
		padding: 0 50px;
	}

	.info {
		margin-bottom: 10px;
	}

	.testimonials-list {
		display: block;
	}

	.testimonials-list--item {
		margin: 0 auto;
		padding: 30px;
		text-align: center;
		margin-bottom: 20px;
	}

	.access {
		width: 75%;
		margin: 0 auto;
		padding: 30px;
	}

	button {
		padding: 10px 24px;
		font-size: 12px;
	}

	.search-box {
		padding: 10px;
		font-size: 12px;
		margin-bottom: 10px;
	}

	footer {
		background: hsl(216, 53%, 9%);
		padding: 40px 10px;
	}

	.footer-items {
		display: block;
		margin-top: 3vh;
		line-height: 1.7;
		color: gray;
	}

	.footer-description {
		width: 200px;
	}

	.footer-contacts {
		margin-bottom: 10px;
	}

	.footer-nav-list--1 {
		margin-bottom: 10px;
	}

	.footer-nav-list--2 {
		margin-bottom: 10px;
	}
}